.container {
  text-align: center; }
  .container .user_list {
    height: 500px; }
    .container .user_list .user_item p {
      display: inline;
      margin: 10px; }
  .container img {
    width: 100%; }

.logoContainer {
  margin: 20px;
  height: 53px;
  float: right; }
