.container {
  text-align: center;
}

.user_list {
  height: 500px;
}

.user_list .user_item p {
    display: inline;
<<<<<<< HEAD
    margin: 10px; }

img {
  width: 100%; }
=======
    margin: 10px;
}
>>>>>>> story1-adminPage
