<div class="entry">
    <div class="user_item">
        <form>
            <input id="userDetails" type="text" name="name" value="{{name}}">
            <input type="text" name="email" value="{{email}}">
            <input type="submit" id="edit" value="Edit">
        </form>
    </div>
</div>