{{#each data}}
<div class="entry">
    <div class="user_item">
        <form>
            <input id="userDetails" type="text" name="name" value="{{name}}">
            <input type="text" name="email" value="{{email}}">
            <button class="editButton" id="edit{{id}}">Edit</button>
            <button class="deleteButton" id="delete{{id}}">Delete</button>
        </form>
    </div>
</div>
{{/each}}